<div class="alert alert-danger" role="alert" *ngIf="role != 'premium'; else Premium">
  {{pseudo}}, vous n'êtes pas Premium cliquez sur "Offre" pour le devenir
</div>

<ng-template #Premium>
  <div class="alert alert-success" role="alert">
    {{pseudo}}, vous êtes Premium félicitation !
  </div>
</ng-template>

<div class="box-profil">
    <h2 class="title-profil">Profil</h2>
    <form>
        <div class="form-profil" *ngIf="role;else noPremium">
            <label for="role">Statut</label><br>
            <span id="role">{{role}}</span>
        </div>
        <ng-template #noPremium>
          <div class="form-profil">
            <label for="role">Statut</label><br>
            <span id="role">Standard</span>
          </div>
        </ng-template>
        <div class="form-profil">
            <label for="pseudo">Pseudo</label><br>
            <span id="pseudo">{{pseudo}}</span>
            <input type="text" name="pseudo" id="pseudoInput">
            <button class="button-icon"> <img src="../../assets/images/pen.png" class="icon" id="pseudoPen" (click)="modification('pseudo')"><img src="../../assets/images/valid.png" class="icon" id="pseudoValid" (click)="validation('pseudo')"></button>
        </div>
        <div class="form-profil">
            <label for="email">Email</label><br>
            <span id="email">{{email}}</span>
            <input type="text" name="email" id="emailInput">
            <button class="button-icon"> <img src="../../assets/images/pen.png" class="icon" id="emailPen" (click)="modification('email')"><img src="../../assets/images/valid.png" class="icon" id="emailValid" (click)="validation('email')"></button>
        </div>
        <div class="form-profil">
            <label for="password">Mot de passe</label><br>
            <span id="password">{{password}}</span>
            <input type="password" name="password" id="passwordInput">
        <button class="button-icon"><img src="../../assets/images/pen.png" class="icon" id="passwordPen" (click)="modification('password')"><img src="../../assets/images/valid.png" class="icon" id="passwordValid" (click)="validation('password')"></button>
        </div>
        <p class="error" *ngIf="error != ''">{{error}}</p>
    </form>
</div>
