.box-profil{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E1E1E;
    box-sizing: border-box;
    box-shadow: 0 1em 1.5em black;
    border-radius: 0.7em;
    padding: 2em;
    width: 30em;
}

.title-profil{
    margin-bottom: 1em;
    color: white;
    text-align: center;
}

.form-profil{
    margin: 1em;
}

.form-profil label{
    text-align: center;
    color: white;
}

span{
    margin-left: 2em;
    color: white;
}

.error{
    color: white;
}

.icon{
    background-color: transparent;
    width: 1em;
    color: white;
    cursor: pointer;
}

.button-icon{
    background-color: transparent;
    border-color: transparent;
    float: right;
}

#emailInput, #emailValid, #pseudoInput, #pseudoValid, #passwordInput, #passwordValid{
    display: none;
}

input{
    margin-left: 2em;
    background-color: transparent;
    border-color: white;
    color: white;
}