<div class="footer">
    <footer>
        
        <div class="social">
            <a class="icon" href="https://gitlab.com/RexT2507/web-draw-area"><img src="../../../assets/images/gitlab.png"></a>
            <a class="icon" href="https://docs.google.com/document/d/1RD1LuelXFPgflVW2yQ2qQULlmeCwuduZXUPeV2rmdmE/edit?usp=sharing"><img src="../../../assets/images/drive.png"></a>
        </div>

        <p class="copyright">WebDrawArea © 2021</p>
    </footer>
</div>