<div class="header">
    <div class="header-left" *ngIf="router.url != '/home'; else logoHeader">
        <a routerLink="/home" class="nom">Web Draw Area</a>
    </div>
    <ng-template #logoHeader>
        <div class="header-left">
            <img class="imgHeader" src="../../../assets/images/imgHeader.jpg">
        </div>
    </ng-template>

    <div class="header-right">
        <a routerLink="/home">Accueil</a>
        <a *ngIf="authService.loggedIn()" routerLink="/session">Sessions</a>
        <a *ngIf="role != 'premium'" routerLink="/paiement">Offre</a>
        <a *ngIf="!authService.loggedIn()" routerLink="/register">Inscription</a>
        <a *ngIf="!authService.loggedIn()" routerLink="/login">Connexion</a>
        <a *ngIf="authService.loggedIn()" routerLink="/profils">Profil</a>
        <a *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Déconnexion</a>
    </div>
</div>
