.header {
    overflow: hidden;
    background-color: #2f435e;
    padding: 1em 0.5em;
}

.header-left{
    float: left;
}

.header-right {
    float: right;
}

.header a{
    color: #ececec;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.2em; 
    border-radius: 0.5em;
}

.nom {
    font-size: 2em;
    font-weight: bold;
}

.header a:hover {
    background-color: #44566c;
}

.imgHeader{
    width: 2em;
}
