<div class="box-login">
    <h2 class="title-login">Connexion</h2>
    <form>
        <div class="form-login">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-login">
            <label for="password">Mot de passe</label><br>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-login">
            <button type="submit" class="button" (click)="submit()">Se connecter</button>
        </div>
        <p class="error" *ngIf="error != ''">{{error}}</p>
    </form>
</div>


