.box-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f435e;
    box-sizing: border-box;
    box-shadow: 0 1em 1.5em #201b22;
    border-radius: 0.7em;
    padding: 2em;
}

.title-register{
    margin-bottom: 1em;
    color: white;
    text-align: center;
}

.form-register{
    margin: 1em;
}

.form-register label{
    text-align: center;
    color: white;
}

.form-register button{
    border-radius: 1em;
    height: 2em;
    font-size: 1em;
    margin: 1em auto;
    position: relative;
    width: 100%;
    border: none;
    background-color: #44566c;
	box-shadow: 0 0.2em 1em #201b22;
}

.form-register button:hover{
    cursor: pointer;
    background-color: #4b5e65;
    //box-shadow: 0 0.5em 2em lightblue;
}

.error{
    color: white;
}
