<div class="box-register">
    <h2 class="title-register">Inscription</h2>
    <form>
        <div class="form-register">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-register">
            <label for="pseudo">Pseudo</label><br>
            <input type="text" name="pseudo" id="pseudo">
        </div>
        <div class="form-register">
            <label for="password">Mot de passe</label><br>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-register">
            <button type="submit" class="button" (click)="submit()"> S'inscrire</button>
        </div>
        <p class="error" *ngIf="error != ''">{{error}}</p>
    </form>
</div>
