.toolBar{
    position: absolute;
    
}

.buttonTool{
    background-color: #44566c;
    color: #ececec;
    width: 40px;
    height: 40px;
    size: 20px;
    margin: 2px;
    box-shadow: 1px 1px 3px #666;
    justify-content: center;
    align-items: center;
}

.buttonTool:hover{
    background-color: #ececec;
    border-color: #44566c;
    color: #44566c;
}



.drawZone{
    padding: 100px;
}

.optionBar{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #4c5b6d;
    align-items: center;
    color: #ececec;
    size: 2em;
}

.optionBarField{
    margin-left: 5px;
    margin-right: 5px;
}

.optionBarField input{
    margin-left: 5px;
    
}

.optionBarField.number input {
    width: 60px;
}

.colorField{
    width: 40px;
    height: 40px;
}