<div class="optionBar">
    <input class="colorField" [(ngModel)]="toolService.color" type="color" />
    <div class="optionBarField number" *ngIf="checkOption('size')">
        <label>Taille du pinceau:</label>
        <input [(ngModel)]="toolService.size" type="number" min="1" />
    </div>
    <div class="optionBarField number" *ngIf="checkOption('tolerence')">
        <label>Tolérence:</label>
        <input [(ngModel)]="toolService.tolerence" type="number" min="1" max="100" />
    </div>

</div>

<div class="toolBar">
    <div>
        <button class="buttonTool" [ngClass]="{'active': activeTool == 'Pencil'}" (click)="changeTool('Pencil')"><span
                class="material-icons">create</span></button>
    </div>
    <div>
        <button class="buttonTool" [ngClass]="{'active': activeTool == 'Brush'}" (click)="changeTool('Brush')"><span
                class="material-icons">brush</span></button>
    </div>
    <div>
        <button class="buttonTool" [ngClass]="{'active': activeTool == 'Eraser'}" (click)="changeTool('Eraser')"><span
                style="transform:rotate(0.10turn);" class="material-icons">crop_portrait</span></button>
    </div>
</div>

<div class="drawZone">
    <app-draw-zone></app-draw-zone>
</div>

<div style="position: absolute;top:150px;right: 0px;width:10%;">
    <div style="box-shadow: 1px 1px 3px #666;;padding: 3px;margin-bottom:5px;display: flex;background-color: white;" *ngFor="let user of userTab">
        <div style="border-radius: 10px;width: 20px;height: 20px;background-color:rgb(115, 228, 3);box-shadow: 1px 1px 3px chartreuse;"></div>
        <span style="margin-left: 10px;">{{user.pseudo}}</span>
    </div>
</div>
