<div #drawZone>
    <canvas #drawing style="cursor: none;box-shadow: 0 0 2em black;" width="0" height="0"></canvas>
    <span #cursor></span>
    <div #Filigrane style="background: url(../../../assets/cursor/NonAuthorized/kingpin.png);opacity: 0.2;position: absolute;" *ngIf="roleUser != 'premium'">
    </div>
</div>
