.session{
    width: 10em;
    height: auto;
    border: 0.1em solid black;
    margin: 1em;
    padding: 0.2em;
    text-align: center;
    color: #4b5e65;
}

.createSession{
    margin: 1em;
}

.sessionExist{
    margin-top: 3em;
    margin-left: 1em;
    margin-bottom: 1em;
    color: #4b5e65;
}

button {
	border: none;
	padding: 0.5em 1em;
	border-radius: 1.5em;
	color:#ececec;
	background: #2f435e;
    box-shadow: 0 0.2em 1em #201b22;
    margin-bottom: 0.5em;
}