<div class="createSession">
    <button routerLink="/addsession">Créer une session</button>
</div>

<p class="sessionExist">Session existante :</p>

<div class="session" *ngFor="let data of session">
    <p>{{data.name}}</p>
    <p>Utilisateurs : {{data.users.length}}/5</p>
    <button class="btnSession" (click)="navigateSession(data._id)">Rejoindre</button>
    <button class="btnSession" (click)="delete(data._id)">Supprimer</button>
</div>
