<app-header></app-header>

<router-outlet></router-outlet>

<!-- <div *ngIf="authService.loggedIn()">
    <img *ngIf="onZone" style="pointer-events: none;position: absolute;left:{{pos.x - 64}}px;top:{{pos.y - 36}}px;" src="../../assets/easterEgg/GNEUGNEUGNEU/frame_{{frameNumber}}.jpg"/>
    <div (mouseleave)="mouseout()" id="zHeuHeuHeu" style="cursor: none;">
        <h1>heu heu heu !</h1>
    </div>
</div> -->

<app-footer></app-footer>
