.card-payment
{
  width: 500px;
  margin: 0 auto;
}

.information
{
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


#pricing{
  width: 989px;
  margin: 100px auto;
  font-family: 'Open Sans', Helvetica;
}

.price_card{
  width: 500px;
  background: rgb(255, 255, 255);
  display: inline-table;
  top: 0;
  box-shadow: 1px 1px 12px #555;
}

.header{
  color: rgb(255, 255, 255);
}

.alpha .header{
  background: #4c5b6d;
}

.price{
  width: 100%;
  font-size: 60px;
  font-weight: 300;
  display: block;
  text-align: center;
  padding: 30px 0 10px;

}

.name{
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 0 0 30px;
}

.features{
  list-style: none;
  text-align: center;
  color: rgb(138, 138, 138);
  margin: 0;
  padding: 0;
}

.features li{
  margin: 0 auto;
  padding: 20px 15px;
  width: 200px;
}

.features li:not(:last-child){
  border: 1px solid rgb(242, 242, 242);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

button{
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  display: block;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px auto 35px;
  background: #4c5b6d;
}


