


<form class="mb-5" novalidate (ngSubmit)="buy()" [formGroup]="stripeForm" class="card-payment">


  <div id="pricing">

    <div class="price_card alpha">

      <div class="header">

        <br>
        <span class="price">5€</span>
        <br>
        <span class="name">Compte Premium</span>

      </div>

      <ul class="features">

        <li>Veuillez renseigner les champs pour procéder au paiement</li>

        <div class="information">

          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" value="{{name}}" placeholder="Nom">
          </div>

          <ngx-stripe-card
          [options]="cardOptions"
          [elementsOptions]="elementsOptions"
          ></ngx-stripe-card>


        </div>

      </ul>

      <button class="btn w-25 border shadow" type="submit" data-toogle="modal" data-target="#exampleModalCenter">
        Payer
      </button>


    </div>


  </div>



</form>


