<div class="addsession">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nom de la session</label><br>
            <input type="text" name="name" id="name" formControlName="name" class="form-control">
        </div>
        <button type="submit" class="btn btn-info">Enregistrer</button>
    </form>
</div>