<div class="home">
    <h1>WEB DRAW AREA</h1>
    <h3>Dessinez en collaboration</h3>
    <p>Le principe du projet “Web-draw-area” est de créer une plateforme web de dessin collaboratif. Ainsi les utilisateurs pourront observer les modifications de leurs collaborateurs en temps réel. Cette outil pourra servir aussi bien de support à des réunions type tableau blanc qu’à une collaboration entre artiste pour réalisé des dessins.</p>
    <br>
    <button routerLink="/session">Commencez à dessinez !</button>
</div>