.home {
	text-align: center;
	width: 100%;
	height: auto;
    position: relative;
    padding: 4em;
    color: #4b5e65;
}

h1 {
	font-size: 6em;
	margin-bottom: 0.5em;
}

h3, p {
	margin-bottom: 1.2em;
}

button {
	border: none;
	padding: 0.5em 1em;
	border-radius: 1.5em;
	color:#ececec;
	background: #2f435e;
	box-shadow: 0 0.2em 1em #201b22;
}

button:hover{
    cursor: pointer;
    background-color: #44566c;
}